/* Inicio Reset General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fin Reset General */

body {
    margin: 0;
    background: rgb(29, 28, 28);
    color: #ccc;
    font-family: sans-serif;
}


/* Inicio Header */

.header {
    margin: 0;
    background: #272626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-title {
    margin: 0;
    color: #ccc;
}

.navbar {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.navbar-links {
    text-decoration: none;
    color: #ccc;
    font-size: 19px;
}

.navbar-links:hover {
    text-decoration: underline;
}

/* Fin Header */

/* Inicio Main */

.main {
    /* margin-top: 140px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Inicio Burbuja Instagram */

.container-profile-instagram {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.instagram-logo {
    width: 50px;
    height: 50px;
}

.container-profile-instagram-title {
    font-size: 15px;
    text-decoration: none;
    color: #ccc;
}

.container-profile-instagram-title:hover {
    text-decoration: underline;
}

/* Fin Burbuja Instagram */

/* Inicio Hero */

.hero {
    margin: 4rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background: red; */
    padding: 10px;
}

.hero-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.hero-title {
    font-size: 25px;
    border-bottom: 3px solid #48e;
}

.hero-parraf {
    max-width: 700px;
    font-size: 20px;
}

.hero-link {
    text-decoration: none;
    outline: 3px solid #48e;
    color: #eee;
    padding: 15px 18px;
    cursor: pointer;
    border-radius: 3px;
    transition: .7s background;
    font-family: sans-serif;
    font-size: 20px;
}

.hero-link:hover {
    background: #48e;
}

.hero-gift {
    max-width: 400px;
}

/* Fin Hero */

/* Inicio Mis Servicios */

.my-services {
    margin: 4rem;
    padding: 10px;
}

.container-services-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-services-title {
    text-align: center;
    font-size: 24px;
    border-bottom: 3px solid #48e;
}

.container-list-services {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
    margin: 50px;
}

.list-services-title {
    font-size: 23px;
}

.list-all-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    font-size: 19px;
}

.list-title {
    border-bottom: 2px solid #48e;
    font-size: 17px;
}


/* Fin Mis Servicios */



/* Fin Main */